@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  font-family: 'Questrial', sans-serif;
  background-color: rgb(240, 240, 240);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.rightAlign {
  color: #cacaca;
  float: right;
  font-size: 0.8rem;
}

.selectedTooth {
  opacity: 0.3;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt6 {
  margin-top: 6rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.md-form {
  max-width: 500px;
  margin: 0 auto;
}

/* Margin PageNotFound */
.ant-result-icon {
  margin-top: 3rem;
}
